@include sizeXl {
    .projects {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@include sizeLg {
    .projects {
        grid-template-columns: 1fr 1fr 1fr;
    }   
}

@include sizeMd {
    main {
        align-items: center;
        text-align: center;

        &#home {
            h1.lg-heading {
            margin-top: 22vh;
        }
    }

    
        .lg-heading {
          line-height: .8;
          margin-bottom: 1rem;

        }


      }
    .menu {
      .menu-nav,
      .menu-content {
        float: none;
        width: 100%;
        min-height: 0;
    
        &.show {
          transform: translate3d(0, 0, 0);
        }
      }
    
      .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        
        .nav-link {
            font-size: 24px;
            padding: .5rem;
        }
    }
    
      .menu-content {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            width: 100px;
            height: 100px;
            background-size: 150%;
        }
    }


}

.projects {
    grid-template-columns: 1fr 1fr;
}
}

@include sizeSm {
    main#home h1{
        margin-top: 10vh;
    }

    .projects {
        grid-template-columns: 1fr;
    }

    h1 {
        margin-top: 30px;
    }
}