.btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all .7s ease-out; }
  .btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    transition: all .7s ease-out; }
  .btn.close {
    transform: rotate(180deg); }
    .btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu .menu-content, .menu .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu .menu-nav {
    margin: 0;
    padding: 0;
    background: rgba(32, 32, 114, 0.9);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all .7s ease-out; }
    .menu .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu .menu-content {
    background: rgba(36, 37, 130, 0.9);
    transform: translate3d(0, 100%, 0);
    transition: all .7s ease-out; }
    .menu .menu-content.show {
      transform: translate3d(0, 0, 0); }
    .menu .menu-content .portrait {
      width: 300px;
      height: 300px;
      background: url("../img/IMG_8076.png");
      border-radius: 50%;
      background-position: 45% 25%;
      border: solid 3px #FC4445; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all .7s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #FC4445; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    padding: .8rem 0;
    transition: all .7s ease-out; }
    .menu .nav-link:hover {
      color: #FC4445; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  color: white;
  background-color: #242582;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/ai-close-up-code-160107.jpg);
    background-attachment: fixed;
    background-size: cover; }
  body .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 37, 130, 0.9);
    z-index: -1; }

/* Heading */
h1, h2, h3 {
  margin: 0; }

h1.lg-heading {
  font-size: 4rem; }

h2.sm-heading {
  margin-bottom: 1rem;
  padding: .4rem 1rem;
  background: rgba(38, 39, 138, 0.5); }

a {
  color: white;
  text-decoration: none; }

header {
  position: fixed;
  width: 100%;
  z-index: 2; }

.secondary-text {
  color: #FC4445; }

main {
  padding: 2rem;
  height: 100%; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #FC4445;
        transition: all .7s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 30vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: 1fr 1fr 1fr; }

.bio-img {
  width: 250px;
  height: 300px;
  border-radius: 50%;
  grid-area: bioimage; }

.bio {
  grid-area: bio;
  font-size: 1.5rem; }

.job-1 {
  grid-area: job1; }

.job-2 {
  grid-area: job2; }

.job-3 {
  grid-area: job3; }

.job {
  background: #2a2b96;
  padding: .5rem;
  border-bottom: #FC4445 10px solid; }

.projects {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr; }
  .projects img {
    width: 100%;
    height: auto;
    border: white solid 4px; }
    .projects img:hover {
      opacity: .5;
      border: #FC4445 solid 4px;
      transition: all .7s ease-out; }

.btn-light {
  margin-top: 10px;
  display: block;
  background: #4143cb; }
  .btn-light:hover {
    background: #FC4445;
    transition: all .7s ease-out; }

.btn-dark {
  position: static;
  display: block;
  background: #191a5a; }
  .btn-dark:hover {
    background: #FC4445;
    transition: all .7s ease-out; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 1.5rem;
    border: white 3px solid;
    margin-bottom: 3rem;
    padding: 1.5rem 2.5rem;
    transition: all .7s ease-out; }
    .boxes div:hover {
      padding: 1rem 1.5rem;
      background: #FC4445; }
      .boxes div:hover span {
        color: white; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main#home h1.lg-heading {
      margin-top: 22vh; }
    main .lg-heading {
      line-height: .8;
      margin-bottom: 1rem; }
  .menu .menu-nav,
  .menu .menu-content {
    float: none;
    width: 100%;
    min-height: 0; }
    .menu .menu-nav.show,
    .menu .menu-content.show {
      transform: translate3d(0, 0, 0); }
  .menu .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0); }
    .menu .menu-nav .nav-link {
      font-size: 24px;
      padding: .5rem; }
  .menu .menu-content {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu .menu-content .portrait {
      width: 100px;
      height: 100px;
      background-size: 150%; }
  .projects {
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; }
  .projects {
    grid-template-columns: 1fr; }
  h1 {
    margin-top: 30px; } }
